html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #ece5dd;
}
.chat-container h2 {
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #007bff;
  font-size: 16px;
}
.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.message {
  font-size: 14px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  max-width: 100%;
  word-wrap: break-word;
  transition: background-color 0.2s;
}
.user {
  margin-left: auto;
  text-transform: capitalize;
  background: linear-gradient(135deg, #ffffff, #c0dbf0);
  transition: all 1s ease;
}
.user strong {
  display: flex;
  justify-content: end;
}
.user:hover {
  background: linear-gradient(135deg, #ffffff, #7fb6e0);
}
.bot {
  background: linear-gradient(135deg, #c0cdf0, #ffffff);
  text-transform: capitalize;
  transition: all 1s ease;
}
.bot:hover {
  background: linear-gradient(135deg, #7d97e0, #ffffff);
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
}
.input-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.chat-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}
.chat-input:focus {
  border-color: #007bff;
  outline: none;
}
.send-button {
  padding: 10px 15px;
  background-color: #435c75;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.send-button:hover {
  background-color: #2b4358;
}
.no-messages {
  text-align: center;
  color: #999;
}
.back-button {
  color: white;
  background-color: #435c75;
}
