* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dashboard-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f3f4f6;
}
.header {
  background: linear-gradient(135deg, #4a6f8c, #2a3a4e);
  color: white;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile {
  display: flex;
  align-items: center;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.logout-icons img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.message-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.message-content label {
  margin-bottom: 5px;
}
.message-content input,
.message-content textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
}
.message-content textarea {
  resize: none;
  height: 100px;
}
button {
  padding: 10px 15px;
  background-color: #4a6f8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #2a3a4e;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background: #ece5dd;
}
.messages {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}
.message {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 8px;
  border-radius: 5px;
  word-wrap: break-word;
  transition: background-color 0.2s;
}
.user {
  margin-left: auto;
  flex-direction: row-reverse;
  text-transform: capitalize;
}
.user:hover {
  background-color: #d1c4e9;
}
.bot {
  text-transform: capitalize;
}
.bot:hover {
  background-color: #92aaecd3;
}
.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 10px;
}
.no-messages {
  text-align: center;
  color: #999;
}
